
body{
    font-family: 'Lato', sans-serif;
    font: 400 bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('https://source.unsplash.com/1600x900?landscape');
}

.card{
    background: #000000d0;
    opacity: 1;
    outline: rgb(143, 143, 238) 5px solid;
    outline-offset: 10px;
    color: white;
    padding: 2em;
    border-radius: 20px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar{
    background:#7c7c7c2b;
    border: 1px solid black;
    outline: none;
    padding: .8em;
    border-radius: 30px;
    color: white;
    font-family: inherit;
    font-size: 105%;
}


button{
    font-size: large;
    margin: 0.2em;
    border-radius: 50%;
    border: 1px black solid;
    height: 2.5em;
    width: 2.5em;
    outline: none;
    cursor: pointer;
    color: white;
    background-color: #7c7c7c2b;
}

button:hover{
    background: #7c7c7c6b;
    transform: rotate3d(5,6,40,10deg);
}

h1.temp{
    margin: 0;
}
.flex{
    display: flex;
    align-items:center;
    font-size: 30px;
}

.description{
    text-transform: capitalize;
    margin-left: 8px;
}

.humidity,.wind{
    text-transform: capitalize;
    font-size: 20px;
}

.weather.loading{
    visibility: hidden;
    max-height: 20px;
    position: relative;
}

.weather.loading::after{
    visibility: visible;
    content: "Loading...";
    color: white;
    position: absolute;
    top:0;
    left: 20px;
}